In [1]:
#imports 

import requests
import pandas as pd
from bs4 import BeautifulSoup

In [2]:
url = "https://webpages.charlotte.edu/mscipion/"

In [3]:
r = requests.get(url)

#into text
soup = BeautifulSoup(r.text, "lxml")

In [11]:
# Find the table
table = soup.find('table')

# Columns data
headers = table.find_all("th")
print(headers)

#convert to text
cols = []

for i in headers:
    cols.append(i.text)

print(cols)

[<th>Student</th>, <th>Favourite Computer Language</th>, <th>Years of Experience</th>]
['Student', 'Favourite Computer Language', 'Years of Experience']

In [12]:
#make a dataframe

df = pd.DataFrame(columns = cols)
df.head()

Empty DataFrame
Columns: [Student, Favourite Computer Language, Years of Experience]
Index: []

In [18]:
#adding row data to the dataframe

rows = table.find_all("tr")

for i in rows[1:]:
    data = i.find_all("td")
    row = [tr.text for tr in data]
    l=len(df)
    df.loc[l]=row

df.head()

  Student Favourite Computer Language Years of Experience
0    Fred                      Kotlin                   4
1   Paula                      Python                   2
2   Ernst                        Java                   7
3  Isabel                         C++                   3
4    Tony                       Pearl                   7